
# Ignore compiled/executable files
*
!/**/
!*.*
!Makefile
**/*.exe
**/*.out
**/*.o
**/*.so
**/*.dylib
**/*.elf


# Ignore directories of temporary files
**/bin/
**/obj/
**/dep/

# Ignore platform specific stuff
.vscode/

